<a href="https://colab.research.google.com/github/whitehatjr1001/Geopact-hackathon/blob/main/Genpact_Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
indian_train = pd.read_csv('/content/drive/MyDrive/Participants_Data_GGSH_Solution_Notebook/India_train.csv')
indian_test = pd.read_csv('/content/drive/MyDrive/Participants_Data_GGSH_Solution_Notebook/India_test.csv')
USA_train =pd.read_csv('/content/drive/MyDrive/Participants_Data_GGSH_Solution_Notebook/USA_train.csv')
USA_test = pd.read_csv('/content/drive/MyDrive/Participants_Data_GGSH_Solution_Notebook/USA_test.csv')

In [ ]:
indian_train.head()

,Year,State Name,Dist Name,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1990,Andhra Pradesh,Srikakulam,0.0,0.0,0,4.05,50.75,75.34,18.87,...,23.32,19.79,15.90,1383.0,NaN,5.79,4.21,41684.0,85.21,67.77
1,1990,Andhra Pradesh,Visakhapatnam,7.0,3.0,3333,NaN,54.03,94.67,12.21,...,18.24,15.43,11.63,1363.0,4.03,5.67,3.11,44809.0,90.08,73.74
2,1990,Andhra Pradesh,East Godavari,49.0,238.0,4944,3.28,39.90,68.64,8.12,...,19.69,48.41,32.27,7882.0,6.86,19.71,13.31,NaN,303.24,194.95
3,1990,Andhra Pradesh,West Godavari,26.0,120.0,4964,4.14,43.94,48.83,5.39,...,NaN,89.59,64.73,18271.0,14.01,42.18,33.22,165898.0,375.97,266.35
4,1990,Andhra Pradesh,Krishna,996.0,289.0,2892,1.18,NaN,32.47,2.26,...,28.12,77.62,53.68,NaN,13.34,29.04,21.79,139778.0,NaN,193.57

**INDIAN DATA**

In [ ]:
indian_train.isnull().sum()

Year                                  0
State Name                            0
Dist Name                             0
COTTON AREA (1000 ha)               267
COTTON PRODUCTION (1000 tons)       228
                                   ...
POTASH PER HA OF NCA (Kg per ha)    256
POTASH PER HA OF GCA (Kg per ha)    238
TOTAL CONSUMPTION (tons)            265
TOTAL PER HA OF NCA (Kg per ha)     262
TOTAL PER HA OF GCA (Kg per ha)     231
Length: 103, dtype: int64

In [ ]:
indian_test.isnull().sum()

Year                                  0
State Name                            0
Dist Name                             0
COTTON AREA (1000 ha)               121
COTTON PRODUCTION (1000 tons)       117
                                   ...
POTASH PER HA OF NCA (Kg per ha)    108
POTASH PER HA OF GCA (Kg per ha)    118
TOTAL CONSUMPTION (tons)            134
TOTAL PER HA OF NCA (Kg per ha)     126
TOTAL PER HA OF GCA (Kg per ha)     131
Length: 103, dtype: int64

In [ ]:
indian_train['COTTON YIELD (Kg per ha)'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
4700    False
4701    False
4702    False
4703    False
4704    False
Name: COTTON YIELD (Kg per ha), Length: 4705, dtype: bool

DELING WITH THE NULL VALUES

In [ ]:
indian_train.shape

(4705, 103)

In [ ]:
colums_with_null=indian_train.columns[indian_train.isna().any()].tolist()

In [ ]:
indian_train=indian_train.drop(['State Name','Dist Name'], axis=1)

In [ ]:
imputer = IterativeImputer(imputation_order='ascending',max_iter=20,random_state=42,n_nearest_features=20)

In [ ]:
imputed_dataset = imputer.fit_transform(indian_train)

/usr/local/lib/python3.10/dist-packages/sklearn/impute/_iterative.py:785: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [ ]:
imputed_df = pd.DataFrame(imputed_dataset, columns=indian_train.columns)

In [ ]:
imputed_df.isna().sum()

Year                                   0
COTTON AREA (1000 ha)                  0
COTTON PRODUCTION (1000 tons)          0
COTTON YIELD (Kg per ha)               0
JANUARY PERCIPITATION (Millimeters)    0
                                      ..
POTASH PER HA OF NCA (Kg per ha)       0
POTASH PER HA OF GCA (Kg per ha)       0
TOTAL CONSUMPTION (tons)               0
TOTAL PER HA OF NCA (Kg per ha)        0
TOTAL PER HA OF GCA (Kg per ha)        0
Length: 101, dtype: int64

In [ ]:
imputed_df.describe()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
count,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,...,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000
mean,1998.025292,651.649867,510.681741,1929.775133,18.111762,16.252898,21.093217,27.149341,51.841040,156.318932,...,27.934899,30.850579,22.611439,4405.442740,11.731390,13.845696,10.839115,49870.863097,122.186602,86.208856
std,4.893509,2241.813704,1604.790767,4919.725762,25.513466,26.814447,28.393040,47.080865,90.173444,191.569637,...,9.504071,24.080670,15.324168,6192.971087,10.016917,17.362963,12.582936,46428.491662,102.609054,63.151406
min,1990.000000,-1058.604276,-591.995160,-9.000000,-17.228180,-15.609016,-17.369665,-17.970270,-26.492969,-61.964735,...,0.000000,-1.656232,0.000000,-2831.459483,0.000000,-8.930581,-1.487671,-877.889778,-9.082922,-4.525149
25%,1994.000000,0.000000,0.000000,0.000000,3.210000,2.910000,3.690000,4.100000,7.460000,56.610000,...,21.900000,14.260000,11.410000,449.000000,4.690000,4.040000,3.590000,16130.000000,50.480000,39.320000
50%,1998.000000,5.000000,0.000000,0.000000,8.820000,7.040000,10.270000,8.880000,17.570000,104.660000,...,27.159053,25.190000,19.940000,1959.000000,8.110650,7.570000,6.060000,39133.000000,92.250000,72.370000
75%,2002.000000,292.442232,167.594552,2353.000000,24.002668,18.380000,28.650000,28.610000,55.990000,187.990000,...,33.120000,40.670000,30.490000,5745.000000,15.950000,16.710000,13.340000,68768.000000,169.410000,122.540000
max,2006.000000,39702.000000,22694.000000,66671.000000,235.750000,292.430000,247.210000,636.600000,763.050000,3251.370000,...,95.260000,226.120000,143.030000,50904.000000,94.270000,253.760000,226.540000,375992.000000,826.060000,612.130000

In [ ]:
from scipy import stats
numerical_colums = imputed_df.select_dtypes(include=np.number).columns
z_score = np.abs(stats.zscore(imputed_df[numerical_colums]))
threasold = 3
outlier_rows = np.where(z_score>threasold)[0]
df_no_outliers = imputed_df.drop(outlier_rows)

df_no_outliers.head()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1990.0,0.0,0.0,0.0,4.050000,50.75,75.34,18.87,57.59,123.74,...,23.32,19.79,15.90,1383.0,11.835727,5.79,4.21,41684.0,85.21,67.77
1,1990.0,7.0,3.0,3333.0,18.090238,54.03,94.67,12.21,143.97,115.08,...,18.24,15.43,11.63,1363.0,4.030000,5.67,3.11,44809.0,90.08,73.74
7,1990.0,27.0,46.0,1681.0,4.840000,6.07,17.11,10.30,171.30,46.27,...,31.59,44.87,41.13,5082.0,10.390000,17.29,16.10,54096.0,143.50,131.87
8,1990.0,0.0,0.0,0.0,9.210000,7.73,19.78,11.15,141.84,31.16,...,31.47,24.67,20.22,3221.0,10.040000,9.80,9.32,35618.0,78.25,71.97
18,1990.0,0.0,0.0,0.0,3.950000,37.63,56.81,3.65,59.95,304.85,...,28.19,9.70,9.63,3333.0,10.650000,4.21,3.44,34515.0,34.24,29.31

In [ ]:
df_no_outliers.describe()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
count,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,...,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000
mean,1997.758537,336.738526,298.908607,1119.719214,15.238368,11.445260,15.695183,13.850518,27.696344,119.379519,...,28.578085,29.898955,21.789019,3273.316420,8.793022,10.045349,7.935156,47533.189175,119.225920,83.476373
std,4.860830,882.919247,802.102687,1602.836652,16.954225,14.198811,18.385359,20.332348,39.352427,86.516677,...,9.473466,18.572433,11.836242,4289.988017,6.453870,9.998781,7.460280,33968.745730,84.564417,51.868995
min,1990.000000,-1053.651655,-591.995160,-9.000000,-14.064719,-14.980976,-17.369665,-17.970270,-26.492969,-42.421229,...,0.000000,0.000000,0.000000,-1414.146252,0.000000,-2.661966,0.000000,0.000000,0.000000,0.000000
25%,1994.000000,0.000000,0.000000,0.000000,3.110000,2.650000,3.285000,3.420000,6.335000,57.380000,...,21.826305,15.955000,12.740000,427.500000,4.333642,3.970000,3.465000,20563.000000,57.095000,43.100000
50%,1998.000000,3.000000,0.000000,0.000000,8.750000,6.424094,8.740000,6.260000,13.040000,98.950000,...,27.660000,26.240000,20.190000,1536.000000,6.650000,6.610000,5.340000,41642.000000,95.020000,72.870000
75%,2002.000000,162.000000,103.500000,2004.000000,22.785000,15.215000,22.105000,14.535000,29.870000,162.460000,...,34.385000,39.255000,28.515000,4330.000000,11.725598,12.043099,9.382352,66550.500000,167.355000,117.150000
max,2006.000000,7376.000000,5259.000000,16121.000000,92.200000,95.720000,104.900000,158.050000,316.490000,710.210000,...,56.390000,101.150000,68.210000,22907.000000,40.400000,63.840000,48.361165,170284.000000,427.090000,268.340000

In [ ]:
df_no_outliers.shape

(2899, 101)

In [ ]:
desired_size = 4899

# Determine the number of bootstrap samples needed
num_samples = int(desired_size / len(df_no_outliers)) + 1

# Initialize an empty list to store the bootstrap samples
bootstrap_samples = []

# Perform bootstrap sampling
for _ in range(num_samples):
    # Randomly select rows from the dataset with replacement
    bootstrap_sample = df_no_outliers.sample(n=len(df_no_outliers), replace=True)

    # Append the bootstrap sample to the list
    bootstrap_samples.append(bootstrap_sample)

# Concatenate the bootstrap samples into a single DataFrame
bootstrap_df = pd.concat(bootstrap_samples, ignore_index=True)

In [ ]:
bootstrap_df.describe()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
count,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,...,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000
mean,1997.686271,347.393057,299.709163,1136.740255,15.191518,11.287461,15.444488,13.704892,27.636650,118.181699,...,28.432770,29.808595,21.683881,3269.134408,8.823104,10.056887,7.914564,47852.442190,120.313352,83.965765
std,4.834796,891.123954,797.197794,1615.278970,16.914311,14.013307,18.172130,20.389109,40.469559,85.276408,...,9.464791,18.308551,11.527454,4257.065849,6.534174,9.867036,7.380337,33889.734936,84.908571,51.474895
min,1990.000000,-1053.651655,-481.254381,-9.000000,-14.064719,-14.980976,-17.369665,-17.970270,-26.492969,-39.663638,...,0.000000,0.000000,0.000000,-1414.146252,0.000000,-2.661966,0.000000,0.000000,0.000000,0.000000
25%,1993.000000,0.000000,0.000000,0.000000,3.080000,2.682500,3.240000,3.480000,6.212500,57.325000,...,21.680000,16.190000,12.850000,424.250000,4.270000,4.060000,3.436684,20798.750000,57.310000,43.580000
50%,1997.000000,4.000000,0.000000,0.000000,8.625000,6.410000,8.850000,6.390000,12.695000,99.000000,...,27.270000,26.290000,20.460000,1573.714255,6.630000,6.730000,5.340000,42210.000000,96.090000,74.170000
75%,2002.000000,172.750000,112.750000,2043.000000,22.750000,15.037178,21.540000,14.360000,29.240000,160.050000,...,34.142500,39.230000,28.100000,4336.000000,11.890000,11.930000,9.380000,66738.000000,169.320000,117.862500
max,2006.000000,7376.000000,5259.000000,16121.000000,92.200000,95.720000,103.740000,158.050000,316.490000,691.140000,...,56.390000,101.150000,68.210000,22669.000000,40.400000,63.140000,48.361165,170284.000000,427.090000,268.340000

In [ ]:
bootstrap_df.shape

(5798, 101)

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2-cp310-cp310-manylinux2014_x86_64.whl (98.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.6/98.6 MB 6.9 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.13.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2022.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.2)
Installing collected packages: catboost
Successfully installed catboost-1.2

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor


# Separate the features and target variable
X = df.drop("COTTON YIELD (Kg per ha)", axis=1)
y = df["COTTON YIELD (Kg per ha)"]

# Define the CatBoostRegressor model
catboost_model = CatBoostRegressor()

# Define the parameter grid for Randomized Search
param_grid = {
    'iterations': [100, 200, 300],
    'learning_rate': [0.01, 0.05, 0.1],
    'depth': [4, 6, 8],
    'l2_leaf_reg': [1, 3, 5]
}

# Perform Randomized Search with cross-validation
random_search = RandomizedSearchCV(estimator=catboost_model, param_distributions=param_grid, n_iter=10, cv=5)
random_search.fit(X, y)

# Get the best model and best hyperparameters
best_model = random_search.best_estimator_
best_params = random_search.best_params_

# Print the best hyperparameters
print("Best Hyperparameters:", best_params)

FileNotFoundError: ignored