<a href="https://colab.research.google.com/github/whitehatjr1001/Geopact-hackathon/blob/main/Genpact_Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [3]:
indian_train = pd.read_csv('/content/drive/MyDrive/Participants_Data_GGSH_Solution_Notebook/India_train.csv')
indian_test = pd.read_csv('/content/drive/MyDrive/Participants_Data_GGSH_Solution_Notebook/India_test.csv')
USA_train =pd.read_csv('/content/drive/MyDrive/Participants_Data_GGSH_Solution_Notebook/USA_train.csv')
USA_test = pd.read_csv('/content/drive/MyDrive/Participants_Data_GGSH_Solution_Notebook/USA_test.csv')

In [4]:
indian_train.head()

,Year,State Name,Dist Name,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1990,Andhra Pradesh,Srikakulam,0.0,0.0,0,4.05,50.75,75.34,18.87,...,23.32,19.79,15.90,1383.0,NaN,5.79,4.21,41684.0,85.21,67.77
1,1990,Andhra Pradesh,Visakhapatnam,7.0,3.0,3333,NaN,54.03,94.67,12.21,...,18.24,15.43,11.63,1363.0,4.03,5.67,3.11,44809.0,90.08,73.74
2,1990,Andhra Pradesh,East Godavari,49.0,238.0,4944,3.28,39.90,68.64,8.12,...,19.69,48.41,32.27,7882.0,6.86,19.71,13.31,NaN,303.24,194.95
3,1990,Andhra Pradesh,West Godavari,26.0,120.0,4964,4.14,43.94,48.83,5.39,...,NaN,89.59,64.73,18271.0,14.01,42.18,33.22,165898.0,375.97,266.35
4,1990,Andhra Pradesh,Krishna,996.0,289.0,2892,1.18,NaN,32.47,2.26,...,28.12,77.62,53.68,NaN,13.34,29.04,21.79,139778.0,NaN,193.57

**INDIAN DATA**

In [5]:
indian_train.isnull().sum()

Year                                  0
State Name                            0
Dist Name                             0
COTTON AREA (1000 ha)               267
COTTON PRODUCTION (1000 tons)       228
                                   ...
POTASH PER HA OF NCA (Kg per ha)    256
POTASH PER HA OF GCA (Kg per ha)    238
TOTAL CONSUMPTION (tons)            265
TOTAL PER HA OF NCA (Kg per ha)     262
TOTAL PER HA OF GCA (Kg per ha)     231
Length: 103, dtype: int64

In [6]:
indian_test.isnull().sum()

Year                                  0
State Name                            0
Dist Name                             0
COTTON AREA (1000 ha)               121
COTTON PRODUCTION (1000 tons)       117
                                   ...
POTASH PER HA OF NCA (Kg per ha)    108
POTASH PER HA OF GCA (Kg per ha)    118
TOTAL CONSUMPTION (tons)            134
TOTAL PER HA OF NCA (Kg per ha)     126
TOTAL PER HA OF GCA (Kg per ha)     131
Length: 103, dtype: int64

In [7]:
indian_train['COTTON YIELD (Kg per ha)'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
4700    False
4701    False
4702    False
4703    False
4704    False
Name: COTTON YIELD (Kg per ha), Length: 4705, dtype: bool

DELING WITH THE NULL VALUES

In [8]:
indian_train.shape

(4705, 103)

In [9]:
colums_with_null=indian_train.columns[indian_train.isna().any()].tolist()

In [10]:
indian_train=indian_train.drop(['State Name','Dist Name'], axis=1)

In [11]:
imputer = IterativeImputer(imputation_order='ascending',max_iter=20,random_state=42,n_nearest_features=20)

In [12]:
imputed_dataset = imputer.fit_transform(indian_train)

/usr/local/lib/python3.10/dist-packages/sklearn/impute/_iterative.py:785: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [13]:
imputed_df = pd.DataFrame(imputed_dataset, columns=indian_train.columns)

In [14]:
imputed_df.isna().sum()

Year                                   0
COTTON AREA (1000 ha)                  0
COTTON PRODUCTION (1000 tons)          0
COTTON YIELD (Kg per ha)               0
JANUARY PERCIPITATION (Millimeters)    0
                                      ..
POTASH PER HA OF NCA (Kg per ha)       0
POTASH PER HA OF GCA (Kg per ha)       0
TOTAL CONSUMPTION (tons)               0
TOTAL PER HA OF NCA (Kg per ha)        0
TOTAL PER HA OF GCA (Kg per ha)        0
Length: 101, dtype: int64

In [15]:
imputed_df.describe()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
count,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,...,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000,4705.000000
mean,1998.025292,651.649867,510.681741,1929.775133,18.111762,16.252898,21.093217,27.149341,51.841040,156.318932,...,27.934899,30.850579,22.611439,4405.442740,11.731390,13.845696,10.839115,49870.863097,122.186602,86.208856
std,4.893509,2241.813704,1604.790767,4919.725762,25.513466,26.814447,28.393040,47.080865,90.173444,191.569637,...,9.504071,24.080670,15.324168,6192.971087,10.016917,17.362963,12.582936,46428.491662,102.609054,63.151406
min,1990.000000,-1058.604276,-591.995160,-9.000000,-17.228180,-15.609016,-17.369665,-17.970270,-26.492969,-61.964735,...,0.000000,-1.656232,0.000000,-2831.459483,0.000000,-8.930581,-1.487671,-877.889778,-9.082922,-4.525149
25%,1994.000000,0.000000,0.000000,0.000000,3.210000,2.910000,3.690000,4.100000,7.460000,56.610000,...,21.900000,14.260000,11.410000,449.000000,4.690000,4.040000,3.590000,16130.000000,50.480000,39.320000
50%,1998.000000,5.000000,0.000000,0.000000,8.820000,7.040000,10.270000,8.880000,17.570000,104.660000,...,27.159053,25.190000,19.940000,1959.000000,8.110650,7.570000,6.060000,39133.000000,92.250000,72.370000
75%,2002.000000,292.442232,167.594552,2353.000000,24.002668,18.380000,28.650000,28.610000,55.990000,187.990000,...,33.120000,40.670000,30.490000,5745.000000,15.950000,16.710000,13.340000,68768.000000,169.410000,122.540000
max,2006.000000,39702.000000,22694.000000,66671.000000,235.750000,292.430000,247.210000,636.600000,763.050000,3251.370000,...,95.260000,226.120000,143.030000,50904.000000,94.270000,253.760000,226.540000,375992.000000,826.060000,612.130000

In [16]:
from scipy import stats
numerical_colums = imputed_df.select_dtypes(include=np.number).columns
z_score = np.abs(stats.zscore(imputed_df[numerical_colums]))
threasold = 3
outlier_rows = np.where(z_score>threasold)[0]
df_no_outliers = imputed_df.drop(outlier_rows)

df_no_outliers.head()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1990.0,0.0,0.0,0.0,4.050000,50.75,75.34,18.87,57.59,123.74,...,23.32,19.79,15.90,1383.0,11.835727,5.79,4.21,41684.0,85.21,67.77
1,1990.0,7.0,3.0,3333.0,18.090238,54.03,94.67,12.21,143.97,115.08,...,18.24,15.43,11.63,1363.0,4.030000,5.67,3.11,44809.0,90.08,73.74
7,1990.0,27.0,46.0,1681.0,4.840000,6.07,17.11,10.30,171.30,46.27,...,31.59,44.87,41.13,5082.0,10.390000,17.29,16.10,54096.0,143.50,131.87
8,1990.0,0.0,0.0,0.0,9.210000,7.73,19.78,11.15,141.84,31.16,...,31.47,24.67,20.22,3221.0,10.040000,9.80,9.32,35618.0,78.25,71.97
18,1990.0,0.0,0.0,0.0,3.950000,37.63,56.81,3.65,59.95,304.85,...,28.19,9.70,9.63,3333.0,10.650000,4.21,3.44,34515.0,34.24,29.31

In [17]:
df_no_outliers.describe()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
count,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,...,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000,2899.000000
mean,1997.758537,336.738526,298.908607,1119.719214,15.238368,11.445260,15.695183,13.850518,27.696344,119.379519,...,28.578085,29.898955,21.789019,3273.316420,8.793022,10.045349,7.935156,47533.189175,119.225920,83.476373
std,4.860830,882.919247,802.102687,1602.836652,16.954225,14.198811,18.385359,20.332348,39.352427,86.516677,...,9.473466,18.572433,11.836242,4289.988017,6.453870,9.998781,7.460280,33968.745730,84.564417,51.868995
min,1990.000000,-1053.651655,-591.995160,-9.000000,-14.064719,-14.980976,-17.369665,-17.970270,-26.492969,-42.421229,...,0.000000,0.000000,0.000000,-1414.146252,0.000000,-2.661966,0.000000,0.000000,0.000000,0.000000
25%,1994.000000,0.000000,0.000000,0.000000,3.110000,2.650000,3.285000,3.420000,6.335000,57.380000,...,21.826305,15.955000,12.740000,427.500000,4.333642,3.970000,3.465000,20563.000000,57.095000,43.100000
50%,1998.000000,3.000000,0.000000,0.000000,8.750000,6.424094,8.740000,6.260000,13.040000,98.950000,...,27.660000,26.240000,20.190000,1536.000000,6.650000,6.610000,5.340000,41642.000000,95.020000,72.870000
75%,2002.000000,162.000000,103.500000,2004.000000,22.785000,15.215000,22.105000,14.535000,29.870000,162.460000,...,34.385000,39.255000,28.515000,4330.000000,11.725598,12.043099,9.382352,66550.500000,167.355000,117.150000
max,2006.000000,7376.000000,5259.000000,16121.000000,92.200000,95.720000,104.900000,158.050000,316.490000,710.210000,...,56.390000,101.150000,68.210000,22907.000000,40.400000,63.840000,48.361165,170284.000000,427.090000,268.340000

In [18]:
df_no_outliers.shape

(2899, 101)

In [19]:
desired_size = 4899

# Determine the number of bootstrap samples needed
num_samples = int(desired_size / len(df_no_outliers)) + 1

# Initialize an empty list to store the bootstrap samples
bootstrap_samples = []

# Perform bootstrap sampling
for _ in range(num_samples):
    # Randomly select rows from the dataset with replacement
    bootstrap_sample = df_no_outliers.sample(n=len(df_no_outliers), replace=True)

    # Append the bootstrap sample to the list
    bootstrap_samples.append(bootstrap_sample)

# Concatenate the bootstrap samples into a single DataFrame
bootstrap_df = pd.concat(bootstrap_samples, ignore_index=True)

In [20]:
bootstrap_df.describe()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
count,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,...,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000,5798.000000
mean,1997.794239,329.194011,293.903420,1118.674370,15.232951,11.483271,15.942624,13.711958,27.105632,119.466064,...,28.390331,29.862799,21.758970,3174.079272,8.702084,9.840491,7.806824,47391.978857,119.326907,83.481913
std,4.854579,870.816725,798.869351,1606.303723,16.731926,14.079608,18.648264,20.088726,38.530533,87.242450,...,9.393673,18.582300,11.864433,4178.648852,6.377224,9.731647,7.350932,33734.375811,84.411958,51.760066
min,1990.000000,-1053.651655,-591.995160,-9.000000,-14.064719,-14.980976,-17.369665,-17.970270,-26.492969,-42.421229,...,0.000000,0.000000,0.000000,-624.874489,0.000000,-2.661966,0.000000,0.000000,0.000000,0.000000
25%,1994.000000,0.000000,0.000000,0.000000,3.180000,2.610000,3.352500,3.420000,6.380000,56.990000,...,21.720000,15.690000,12.530000,414.000000,4.300000,3.940133,3.440000,20548.000000,57.600000,43.120000
50%,1998.000000,3.000000,0.000000,0.000000,8.880000,6.650000,8.870000,6.130000,12.910000,98.930000,...,27.650000,26.020000,20.110000,1517.000000,6.650000,6.595000,5.251404,41422.000000,93.975000,72.800000
75%,2002.000000,161.000000,95.000000,2041.000000,23.345000,15.220000,22.640000,14.357500,28.910000,162.150000,...,33.970000,39.370000,28.657500,4161.000000,11.600000,11.780000,9.190000,66673.000000,169.030000,117.400504
max,2006.000000,7376.000000,5259.000000,16121.000000,92.200000,95.720000,104.900000,158.050000,316.490000,710.210000,...,56.390000,101.150000,68.210000,22907.000000,40.400000,63.840000,48.361165,170284.000000,427.090000,268.340000

In [21]:
bootstrap_df.shape

(5798, 101)

In [22]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2-cp310-cp310-manylinux2014_x86_64.whl (98.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.6/98.6 MB 9.0 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.13.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2022.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.2)
Installing collected packages: catboost
Successfully installed catboost-1.2

In [ ]:
!pip install optuna

In [30]:
import optuna
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
scalar = StandardScaler
x=bootstrap_df.drop('COTTON YIELD (Kg per ha)',axis=1)
y=bootstrap_df['COTTON YIELD (Kg per ha)']
x_test,x_val,y_test,y_val=train_test_split(x,y,test_size=0.1,random_state=42,shuffle=True)

In [35]:
scalar

StandardScaler()

In [38]:
x_test_scaled=scalar.fit_transform(x_test)
x_val_scaled = scalar.transform(x_val)

In [43]:
x_test

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),JULY PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
3516,1998.0,2.0,0.000000,24.002668,30.19,51.420000,32.16,20.71,95.77,309.39,...,8.520000,8.67,4.735181,88.0,5.76,5.84,3.50,2238.00000,76.45,41.950000
2834,1991.0,0.0,0.000000,28.970000,5.94,25.930000,8.88,9.27,240.11,166.58,...,22.460000,37.61,25.660000,3096.0,10.84,15.81,9.96,45259.00000,175.67,118.420000
1374,2003.0,0.0,0.000000,5.480000,40.51,33.870000,10.62,5.62,116.97,446.55,...,27.410000,7.17,4.430000,180.0,5.24,2.42,2.32,5503.00000,16.99,13.350465
1379,1998.0,-9.0,-9.000000,11.170000,8.03,32.380000,25.95,55.09,172.79,330.45,...,13.550000,8.94,6.490000,1705.0,11.03,9.34,5.59,16967.00000,65.24,37.770000
437,1998.0,2156.0,2505.000000,6.170000,2.39,16.610000,6.96,4.52,81.64,188.87,...,33.344499,28.54,22.840000,3886.0,8.69,5.81,6.77,68282.00000,88.48,67.350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3772,1998.0,0.0,0.000000,3.100000,7.06,26.320000,10.66,7.76,78.60,255.93,...,21.360000,25.97,17.940000,917.0,4.44,5.09,6.10,37539.00000,127.51,89.070000
5191,2005.0,0.0,0.000000,6.360000,8.40,27.115387,3.64,3.96,30.98,245.92,...,24.320000,25.18,20.840000,652.0,4.55,4.54,4.22,41965.00000,101.34,80.000000
5226,1990.0,0.0,0.000000,4.140000,21.99,42.190000,47.09,98.95,270.74,530.92,...,27.620000,46.17,33.240000,9757.0,21.93,30.41,23.70,54414.00000,159.45,111.880000
5390,1997.0,315.0,215.830415,26.380000,5.01,29.550000,69.01,22.50,105.97,260.06,...,29.010000,9.61,5.040000,1141.0,10.82,3.12,3.52,13796.05061,23.58,16.520000
860,1993.0,0.0,0.000000,12.230000,6.22,44.430000,4.72,25.63,97.47,139.24,...,17.570000,21.61,15.034570,947.0,4.37,3.63,2.09,69195.00000,121.57,82.610000

In [46]:
import catboost as cb
from sklearn.metrics import mean_squared_error
import optuna

def objective(trial):
    params = {
        "iterations": 1000,
        "learning_rate": trial.suggest_float("learning_rate", 1e-3, 0.1, log=True),
        "depth": trial.suggest_int("depth", 1, 10),
        "subsample": trial.suggest_float("subsample", 0.05, 1.0),
        "colsample_bylevel": trial.suggest_float("colsample_bylevel", 0.05, 1.0),
        "min_data_in_leaf": trial.suggest_int("min_data_in_leaf", 1, 100),
    }

    model = cb.CatBoostRegressor(**params, silent=True)
    model.fit(x_test_scaled, y_test)
    predictions = model.predict(x_val_scaled)
    rmse = mean_squared_error(y_val, predictions, squared=False)
    return rmse

In [47]:
study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=30)

[I 2023-07-23 13:44:30,038] A new study created in memory with name: no-name-925c71ef-8c37-44b3-95f3-1517a735374d
[I 2023-07-23 13:45:17,664] Trial 0 finished with value: 657.2566748512274 and parameters: {'learning_rate': 0.0035939351209462703, 'depth': 8, 'subsample': 0.7487863343613237, 'colsample_bylevel': 0.2870973587532421, 'min_data_in_leaf': 56}. Best is trial 0 with value: 657.2566748512274.
[I 2023-07-23 13:45:20,730] Trial 1 finished with value: 964.9797955427098 and parameters: {'learning_rate': 0.0018800955075206852, 'depth': 4, 'subsample': 0.7024083526814866, 'colsample_bylevel': 0.19485336646482543, 'min_data_in_leaf': 95}. Best is trial 0 with value: 657.2566748512274.
[I 2023-07-23 13:45:23,428] Trial 2 finished with value: 1058.360786394675 and parameters: {'learning_rate': 0.0014874376285098976, 'depth': 1, 'subsample': 0.21137354595862634, 'colsample_bylevel': 0.9969693401410987, 'min_data_in_leaf': 44}. Best is trial 0 with value: 657.2566748512274.
[I 2023-07-23 13:45:33,720] Trial 3 finished with value: 878.2030072785684 and parameters: {'learning_rate': 0.0024531364767661026, 'depth': 4, 'subsample': 0.42819548906802873, 'colsample_bylevel': 0.8335277999103303, 'min_data_in_leaf': 47}. Best is trial 0 with value: 657.2566748512274.
[I 2023-07-23 13:48:42,380] Trial 4 finished with value: 413.04194360859157 and parameters: {'learning_rate': 0.00907843758914066, 'depth': 10, 'subsample': 0.9478117566220782, 'colsample_bylevel': 0.6413210022591473, 'min_data_in_leaf': 1}. Best is trial 4 with value: 413.04194360859157.
[I 2023-07-23 13:48:47,398] Trial 5 finished with value: 625.6788775458502 and parameters: {'learning_rate': 0.02585975308808636, 'depth': 3, 'subsample': 0.8161299919271416, 'colsample_bylevel': 0.49389886715286707, 'min_data_in_leaf': 84}. Best is trial 4 with value: 413.04194360859157.
[I 2023-07-23 13:48:54,604] Trial 6 finished with value: 493.0998623638799 and parameters: {'learning_rate': 0.06516420710967197, 'depth': 3, 'subsample': 0.9271467431690984, 'colsample_bylevel': 0.74932350602893, 'min_data_in_leaf': 67}. Best is trial 4 with value: 413.04194360859157.
[I 2023-07-23 13:53:13,691] Trial 7 finished with value: 294.8931788209088 and parameters: {'learning_rate': 0.09560041105843069, 'depth': 10, 'subsample': 0.49146550803591327, 'colsample_bylevel': 0.9246441880809224, 'min_data_in_leaf': 36}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 13:54:54,970] Trial 8 finished with value: 782.4136784595686 and parameters: {'learning_rate': 0.0018913446479062155, 'depth': 9, 'subsample': 0.6025961175971514, 'colsample_bylevel': 0.3240204678021549, 'min_data_in_leaf': 24}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 13:54:58,921] Trial 9 finished with value: 1012.0157943148317 and parameters: {'learning_rate': 0.0016459773164738845, 'depth': 2, 'subsample': 0.6017677988234608, 'colsample_bylevel': 0.8830217148142914, 'min_data_in_leaf': 86}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 13:55:06,861] Trial 10 finished with value: 350.8803879426407 and parameters: {'learning_rate': 0.06581855742744451, 'depth': 7, 'subsample': 0.3844073411643576, 'colsample_bylevel': 0.05761285899239943, 'min_data_in_leaf': 24}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 13:55:14,296] Trial 11 finished with value: 311.4928855122382 and parameters: {'learning_rate': 0.07873102086423751, 'depth': 7, 'subsample': 0.39575115957814705, 'colsample_bylevel': 0.0742875091891317, 'min_data_in_leaf': 23}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 13:55:39,817] Trial 12 finished with value: 319.025652486305 and parameters: {'learning_rate': 0.09083777405887623, 'depth': 6, 'subsample': 0.28205341302296344, 'colsample_bylevel': 0.5397822659405315, 'min_data_in_leaf': 24}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 13:57:50,241] Trial 13 finished with value: 348.36865402125994 and parameters: {'learning_rate': 0.03444538810767167, 'depth': 10, 'subsample': 0.0851146568664945, 'colsample_bylevel': 0.4629686425549334, 'min_data_in_leaf': 5}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 13:59:28,890] Trial 14 finished with value: 302.6710251583375 and parameters: {'learning_rate': 0.09835139985714507, 'depth': 8, 'subsample': 0.47981692570881934, 'colsample_bylevel': 0.6626109263049951, 'min_data_in_leaf': 34}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 14:01:15,218] Trial 15 finished with value: 344.12245774923014 and parameters: {'learning_rate': 0.027343829016201353, 'depth': 8, 'subsample': 0.5410980547367038, 'colsample_bylevel': 0.7214385674786907, 'min_data_in_leaf': 36}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 14:05:17,622] Trial 16 finished with value: 302.2995830978573 and parameters: {'learning_rate': 0.04249656944281855, 'depth': 9, 'subsample': 0.509235338946824, 'colsample_bylevel': 0.9296845640138887, 'min_data_in_leaf': 60}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 14:09:58,892] Trial 17 finished with value: 307.5172554687957 and parameters: {'learning_rate': 0.036837546979111166, 'depth': 10, 'subsample': 0.5335317647434465, 'colsample_bylevel': 0.9967464738747275, 'min_data_in_leaf': 65}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 14:13:49,580] Trial 18 finished with value: 363.13033870262797 and parameters: {'learning_rate': 0.016295905949933083, 'depth': 9, 'subsample': 0.6358264598359955, 'colsample_bylevel': 0.8693798889052236, 'min_data_in_leaf': 68}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 14:14:25,584] Trial 19 finished with value: 362.8798355815576 and parameters: {'learning_rate': 0.05252187425237087, 'depth': 6, 'subsample': 0.29727559158528233, 'colsample_bylevel': 0.9447420017302391, 'min_data_in_leaf': 53}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 14:17:59,928] Trial 20 finished with value: 301.7606121613388 and parameters: {'learning_rate': 0.05143445628746996, 'depth': 9, 'subsample': 0.47883986780210097, 'colsample_bylevel': 0.7887272077294762, 'min_data_in_leaf': 79}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 14:21:36,984] Trial 21 finished with value: 296.02091985065 and parameters: {'learning_rate': 0.04519135187281189, 'depth': 9, 'subsample': 0.4805322067292616, 'colsample_bylevel': 0.805798970519236, 'min_data_in_leaf': 77}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 14:25:14,256] Trial 22 finished with value: 311.5961168277142 and parameters: {'learning_rate': 0.05190704327905035, 'depth': 9, 'subsample': 0.429937231456367, 'colsample_bylevel': 0.8072340048893601, 'min_data_in_leaf': 77}. Best is trial 7 with value: 294.8931788209088.
[I 2023-07-23 14:28:52,053] Trial 23 finished with value: 288.4583163273457 and parameters: {'learning_rate': 0.0995237484639126, 'depth': 10, 'subsample': 0.4778900645656887, 'colsample_bylevel': 0.7653596888723538, 'min_data_in_leaf': 99}. Best is trial 23 with value: 288.4583163273457.
[I 2023-07-23 14:32:51,073] Trial 24 finished with value: 298.76991819048607 and parameters: {'learning_rate': 0.09977406957633105, 'depth': 10, 'subsample': 0.5788664148388212, 'colsample_bylevel': 0.8406137012554179, 'min_data_in_leaf': 97}. Best is trial 23 with value: 288.4583163273457.
[I 2023-07-23 14:33:48,001] Trial 25 finished with value: 308.85647800861716 and parameters: {'learning_rate': 0.06555742581671148, 'depth': 7, 'subsample': 0.6703461111964544, 'colsample_bylevel': 0.7066865386435283, 'min_data_in_leaf': 100}. Best is trial 23 with value: 288.4583163273457.
[I 2023-07-23 14:38:01,616] Trial 26 finished with value: 306.3835850503172 and parameters: {'learning_rate': 0.07113117079614913, 'depth': 10, 'subsample': 0.3629233538223171, 'colsample_bylevel': 0.8922614134931606, 'min_data_in_leaf': 90}. Best is trial 23 with value: 288.4583163273457.
[I 2023-07-23 14:39:50,890] Trial 27 finished with value: 298.1455097352842 and parameters: {'learning_rate': 0.09683036639463956, 'depth': 8, 'subsample': 0.4788499831302689, 'colsample_bylevel': 0.7613717134494054, 'min_data_in_leaf': 77}. Best is trial 23 with value: 288.4583163273457.
[I 2023-07-23 14:40:08,592] Trial 28 finished with value: 503.12541614655066 and parameters: {'learning_rate': 0.0224491223966133, 'depth': 5, 'subsample': 0.5529551713675708, 'colsample_bylevel': 0.9274046671143998, 'min_data_in_leaf': 38}. Best is trial 23 with value: 288.4583163273457.
[I 2023-07-23 14:42:06,174] Trial 29 finished with value: 302.70530924818655 and parameters: {'learning_rate': 0.04174491631019117, 'depth': 8, 'subsample': 0.7059435115071313, 'colsample_bylevel': 0.8212553337070488, 'min_data_in_leaf': 13}. Best is trial 23 with value: 288.4583163273457.

In [48]:
print('Best hyperparameters:', study.best_params)
print('Best RMSE:', study.best_value)

Best hyperparameters: {'learning_rate': 0.0995237484639126, 'depth': 10, 'subsample': 0.4778900645656887, 'colsample_bylevel': 0.7653596888723538, 'min_data_in_leaf': 99}
Best RMSE: 288.4583163273457